* {
    font-family: 'K2D', sans-serif;
}

.profile-avatar {
    background-image: url('../images/profile_pic.jpg');
    background-position: center;
    background-size: cover;
    width: 80px; 
    height: 80px;
    border-radius: 50%;
    border: 1px solid #000;
}

img.id-circle {
    width: 180px;
    height: 180px;
    background: url('../images/profile_pic.jpg');
    background-position: center;
    background-size: cover;
    border-radius: 250px;
    border: 2px solid #000;
    float: left;
}

header {
    height: 180px;
}

.details {
    position: relative;
    transform: translate(0px, -50%);
    top: 45%;
}

.details h1{
    padding-left: 200px;
}

.details h4{
    padding-left: 200px;
}